/***** ABOVE THE FOLD ******/

/* Main nav, Site HEader */
.site-header {
  color: $white;
  height: 80px;
  //position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #222633;
  &__title {
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: $white;
    &-span {
      color: $primary-yellow;
    }
    &:hover {
      color: $primary-yellow;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
  }
  &__cta {
    font-weight: $global-weight-bold;
  }
  .top-bar, .top-bar ul {
    background-color: transparent;
  }
}

.main-navigation {
  position: relative;
  &__wrapper {

  }
  a {
    color: $white;
    font-size: 16px;
    &:hover {
      color: $primary-yellow;
    }
  }
  .current-menu-item {
    a {
      color: $primary-yellow;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    margin-left: 0;
    list-style-type: none;
  }
  .menu-item {
    display: inline-block;
    font-weight: 400;
    padding: 1.125rem 1rem;
    &:hover {
      > a  {
        color: $primary-yellow;
      }
    }
  }
  &__mobile {
    display: none;
    width: 50px;
    height: 50px;
  }
}

.skrs-mobile-toggle {
  font-weight: bold;
  margin-right: 20px;

  @include breakpoint(medium down) {
    position: relative;
  }
  button {
    color: $black!important;
    position: relative;
    @include breakpoint(medium down) {
      position: absolute;
      top: 0;
      right: -130px;
      color: $white!important;
    }
    span {
      position: absolute;
      right: 24px;
      bottom: 0px;
      font-family: 'Poppins' sans-serif;
    }
  }
}
.skrs-mobile-menu-wrapper {
  position: absolute;
  top: 50px!important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  .vertical {
    background-color: $white;
  }
}